<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.excelenteadventura.beerjournal">

    <!-- Permission required to save images to storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Restricts its usage in the google play store to phones that have cameras -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wordpress.excelenteadventura.beerjournal.ui.mainActivity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wordpress.excelenteadventura.beerjournal.ui.addBeerActivity.AddBeerActivity"
            android:label="@string/add_beer_title"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.wordpress.excelenteadventura.beerjournal.ui.mainActivity.MainActivity"
            android:theme="@style/EditorTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wordpress.excelenteadventura.beerjournal.ui.mainActivity.MainActivity" />
        </activity>
        <activity
            android:name="com.wordpress.excelenteadventura.beerjournal.ui.imagesActivity.ImagesActivity"
            android:label="image activity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/EditorTheme">
        </activity>


        <!-- File provider for storing camera images -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>